@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
}

@theme {
  --font-Ovo: Ovo;
  --font-Outfit: Outfit;
}

@theme {
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@theme {
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

.font-Ovo {
  font-family: var(--font-Ovo);
}

.font-Outfit {
  font-family: var(--font-Outfit);
}
